@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Teko:wght@300..700&display=swap');

:root {
  font-family: "Teko", serif;
  letter-spacing: 0.3px;
  color-scheme: light dark;
  color: white;
  background-color: #191919;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

h1, p {
  margin: 0;
}
p {
  line-height: 1;
}

body {
  margin: 0;
}

.Vue-Toastification__toast.customToast {
  border-radius: 0!important;
}